@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&display=swap');
*{
    padding: 0px;
    border: 0px;
}
body{
    background-color: black;
    text-align: center;
    color: white;
}

img{
    border: 2px solid;
    width: 100%;
}
img:hover{
    border: 2px solid gray;
}


#ifeminino, #imasculino{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}
@media (max-width : 1024px) {
    #ifeminino, #imasculino{
        width: fit-content;
        grid-template-columns : 1fr 1fr 1fr 1fr;
    }
}

@media (max-width : 720px) {
    #ifeminino, #imasculino{
        grid-template-columns : 1fr 1fr;
        font-size : 20px;
    }
}