@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&display=swap');

body{
    background-color: black;
    color: white;
    text-align: center;
}

#info_jogador {
    margin: 0 auto;
    width: 70%;
}

#foto_info{
    font-size: 25px;
}

#detalhes_info {
    margin-top: 100px;
    text-align: left;
    padding-left: 20px;
}

@media (max-width : 768px) {
    #info_jogador {
        display: grid;
    }
    #foto_info {
        font-size: 15pt;
    }
    #detalhes_info {
        margin-top: 2rem;
        font-size: 10pt;
    }
}

@media (max-width : 360px) {
    #info_jogador{
        width: 80%;
    }
}